html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    position: relative;
}

.background {
    width: auto;
    height: 100vh;
    background-image: url("../../public/img/L0A1356_small.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10%;
    
    @media screen and (min-height: 720px) {
        background-image: url("//public/img/_L0A1356.jpg");
    }

    @media screen and (min-width: 900px) {
        background-image: url("../../public/img/L0A1356.jpg");
    }

    @media screen and (max-width: 900px) and (max-height: 720px) {
        background-image: url("../../public/img/L0A1356.jpg");
    }

    @media screen and (max-width: 800px) and (max-height: 640px) {
        background-image: url("../../public/img/L0A1356.jpg");
        height: 100%;
    }

    @media screen 
        and (max-width: 360px) 
        and (max-height: 640px) 
        and (-webkit-device-pixel-ratio: 3) {
            background-image: url("../../public/img/L0A1356.jpg");
            height: 100vh;
        }

    @media only screen 
        and (min-device-width: 410px) 
        and (max-device-width: 825px) 
        and (-webkit-device-pixel-ratio: 3.5) 
        and (orientation: landscape) {
            background-image: url("../../public/img/L0A1356.jpg");
            height: 100%;
        }

    @media only screen 
        and (min-device-width: 375px) 
        and (max-device-width: 812px) 
        and (-webkit-device-pixel-ratio: 3) 
        and (orientation: landscape) {
            background-image: url("../../public/img/L0A1356.jpg");
            height: 100%;
        }
}

.card {
    border: 0.1px solid white;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 30px;

    @media screen and (min-width: 900px) and (min-height: 720px) {
        width: 38%;
    }
}